//Tipography
$tipo: 'Open Sans', sans-serif;

//Fonts
$font-title: 34px;
$font-title-secondary: 20px;
$font-todos: 24px;
$font-general: 18px;
$font-buttons: $font-general;

//Colors
$red: #ef476f;
$yellow: #ffd166;
$green: #06d6a0;
$blue: #118ab2;
$dark-blue: #073b4c;
$gray: #edf2f4;

//Others
$wrapper: 800px;
$radius: 12px;
$radius-btn: 5px;
$shadows: 0 0 9px -3px #17394473;
$transition: all .2s ease;